[submodule "deps/cpython"]
	path = deps/cpython
	url = https://github.com/nanvix/cpython.git
	branch = nanvix/v3.12.3
	shallow = true
[submodule "deps/cymem"]
	path = deps/cymem
	url = https://github.com/nanvix/cymem.git
	branch = nanvix/v2.0.11
	shallow = true
[submodule "deps/numpy"]
	path = deps/numpy
	url = https://github.com/nanvix/numpy.git
	branch = nanvix/v1.26.4
	shallow = true
[submodule "deps/kiwi"]
	path = deps/kiwi
	url = https://github.com/nanvix/kiwi.git
	branch = nanvix/v1.4.5
	shallow = true
[submodule "deps/libexpat"]
	path = deps/libexpat
	url = https://github.com/nanvix/libexpat.git
	branch = nanvix/v2.6.4
	shallow = true
[submodule "deps/murmurhash"]
	path = deps/murmurhash
	url = https://github.com/nanvix/murmurhash.git
	branch = nanvix/v1.0.13
	shallow = true
[submodule "deps/preshed"]
	path = deps/preshed
	url = https://github.com/nanvix/preshed.git
	branch = nanvix/v3.0.10
	shallow = true
[submodule "deps/srsly"]
	path = deps/srsly
	url = https://github.com/nanvix/srsly.git
	branch = nanvix/v2.5.1
	shallow = true
[submodule "deps/openpyxl"]
	path = deps/openpyxl
	url = https://github.com/nanvix/openpyxl.git
	branch = nanvix/v3.1.2
	shallow = true
